CompileFlags:
  CompilationDatabase: build/debug
  Remove:
    - -std=*
  Add:
    - -D_POSIX_C_SOURCE=200809L
    - -std=c89
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wno-long-long
Documentation:
  CommentFormat: Markdown
---
If:
  PathMatch: src/vectis_kore_bridge.c
CompileFlags:
  Remove:
    - -std=*
  Add:
    - -std=gnu99
    - -Wno-pedantic
---
If:
  PathMatch: (dist|build|\\.cache)/.*
Index:
  Background: Skip
